<h1>Add an Image for $relative.getRelativeName()</h1>

<form action="/submitImg/$relative.getId()" method="post">
  <label for="image_input">Add The URL For Your Image Here</label>
  <input type="text" id="image_input" name="image_input">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
