
<h1 class="centered header">Here is Your Family Tree</h1>

<div class="row">
  <div class="col-xs-2 col-xs-offset-3">
    <h4>Grandparents</h4>
  </div>
  <div class="col-xs-2">
    <h4>Grandparents</h4>
  </div>
  <div class="col-xs-2 col-xs-offset-7">
    <h4>Grandparents</h4>
  </div>
  <div class="col-xs-2">
    <h4>Grandparents</h4>
  </div>
</div>
